@import "reset.css";

body {
  background-color: #f4f8fe;
}

main {
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-animation {
  display: flex;
}

.title h2 {
  opacity: 0;
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  animation: titleAnimation 5s infinite;
}

.title h2:nth-child(1) {
  animation-delay: 0.19s;
}

.title h2:nth-child(2) {
  animation-delay: 0.29s;
}

.title h2:nth-child(3) {
  animation-delay: 0.39s;
  margin-right: 10px;
}

.title h2:nth-child(4) {
  animation-delay: 0.49s;
}

.title h2:nth-child(5) {
  animation-delay: 0.59s;
}

.title h2:nth-child(6) {
  animation-delay: 0.69s;
}

.title h2:nth-child(7) {
  animation-delay: 0.79s;
}

.title h2:nth-child(8) {
  animation-delay: 0.89s;
}

.title h2:nth-child(9) {
  animation-delay: 0.99s;
}

.title h2:nth-child(10) {
  animation-delay: 1.09s;
}

.underline {
  margin-top: 10px;
  border-top: 5px solid #5dade2;
  width: 30%;
  animation: underlineAnimation 5s infinite;
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes underlineAnimation {
  0% {
    opacity: 1;
    transform: translateX(-90px);
  }
  45% {
    opacity: 0;
  }
  50% {
    transform: translateX(90px);
  }
  100% {
    opacity: 0;
    transform: translateX(-90px);
  }
}

.review {
  margin-top: 80px;
  background-color: white;
  padding: 20px 70px 30px;
  display: grid;
  place-items: center;
  width: 40%;
}

.img-container img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

#author {
  font-size: 1.3rem;
  font-weight: 900;
  letter-spacing: 1.8px;
  margin: 20px 0px 10px;
}

#job {
  color: #85c1e9;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

#info {
  color: #979a9a;
  font-size: 18px;
  text-align: center;
  line-height: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.button-container button {
  border: none;
  text-decoration: none;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

i {
  color: #5dade2;
  font-size: 1.3rem;
  margin: 0px 7px 13px;
}

.random-btn {
  padding: 7px 12px;
  background: #ebf5fb;
  border-radius: 10px;
  border: 2px solid #5dade2;
  color: #5dade2;
  cursor: pointer;
  outline: 0;
}
